.btn {
  padding: 15px 0;
  border-radius: 38px;
  background: #2A3581;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px; }
  .btn.wave-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: all 1s;
    max-height: 50px;
    width: 220px;
    text-align: center; }
    @media (max-width: 1310px) {
      .btn.wave-btn {
        width: 200px; } }
    .btn.wave-btn:before {
      content: "";
      position: absolute;
      width: 360px;
      height: 320px;
      border-radius: 130px;
      background-color: #6258D1;
      z-index: -2;
      top: 90px;
      left: 50%;
      transform: translate(-50%);
      animation: wave 5s infinite linear;
      transition: all 1s; }
    .btn.wave-btn:hover:before {
      top: 25px; }

@keyframes wave {
  0% {
    transform: translate(-50%) rotate(0deg); }
  100% {
    transform: translate(-50%) rotate(360deg); } }
nav {
  padding: 50px 140px;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1200px) {
    nav {
      padding: 20px 0 50px 100px; } }
  @media (max-width: 600px) {
    nav {
      flex-wrap: wrap;
      padding: 20px; } }
  nav .logo {
    background: url("../../assets/images/logo.png") no-repeat;
    background-size: contain;
    width: 150px;
    height: 110px;
    display: block; }
  nav .christmas-banner {
    background: url("../../assets/images/baner2.jpg") no-repeat;
    background-size: contain;
    max-width: 100%;
    width: 1000px;
    height: 110px;
    display: block;
    margin: 0px 30px; }
    @media (max-width: 600px) {
      nav .christmas-banner {
        margin: 30px 0px; } }

header {
  padding: 50px 0px 50px 140px;
  display: flex;
  background: url("../../assets/images/wave.svg") no-repeat center;
  position: relative;
  width: 100%;
  background-position: initial; }
  @media (max-width: 1200px) {
    header {
      padding: 20px 0 20px 100px; } }
  @media (max-width: 920px) {
    header {
      flex-direction: column;
      flex-wrap: wrap; } }
  @media (max-width: 600px) {
    header {
      padding: 40px; } }
  header h1 {
    font-size: 46px;
    font-weight: bold;
    line-height: 56px; }
    @media (max-width: 1200px) {
      header h1 {
        font-size: 40px;
        line-height: 48px; } }
    @media (max-width: 600px) {
      header h1 {
        font-size: 36px;
        line-height: 42px; } }
  header .header-text {
    width: 50%;
    position: relative;
    z-index: 2; }
    @media (max-width: 920px) {
      header .header-text {
        width: 80%; } }
  header .header-img {
    background: url("../../assets/images/header.svg") no-repeat top center;
    background-size: contain;
    height: 500px;
    display: block;
    width: 60%; }
    @media (max-width: 1200px) {
      header .header-img {
        background: url("../../assets/images/header.svg") no-repeat center center;
        background-size: contain; } }
    @media (max-width: 920px) {
      header .header-img {
        width: 100%;
        background-size: contain;
        height: 400px; } }
    @media (max-width: 600px) {
      header .header-img {
        height: 200px; } }
  header p {
    font-size: 22px;
    line-height: 30px; }
    @media (max-width: 1200px) {
      header p {
        font-size: 20px;
        line-height: 28px; } }

.intro .container {
  padding: 50px; }
  @media (max-width: 1200px) {
    .intro .container {
      padding: 20px; } }
@media (max-width: 1200px) {
  .intro {
    padding: 30px 0 30px; } }
.intro h2 {
  font-size: 36px;
  line-height: 43px; }
  @media (max-width: 1200px) {
    .intro h2 {
      font-size: 30px;
      line-height: 36px; } }

.partners {
  padding: 0 0 170px; }
  @media (max-width: 920px) {
    .partners {
      padding: 0 0 100px; } }
  .partners .partners-svg {
    background: url("../../assets/images/dj.svg") no-repeat center center;
    display: block;
    height: 170px;
    width: 260px;
    background-size: contain; }
    @media (max-width: 920px) {
      .partners .partners-svg {
        background: url("../../assets/images/dj.svg") no-repeat 20px center; } }
  .partners .partners-header {
    background: #fff;
    box-shadow: #38287224 0 0 30px;
    display: flex;
    border-radius: 10px;
    padding: 20px 60px;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px 75px;
    flex-wrap: nowrap; }
    @media (max-width: 920px) {
      .partners .partners-header {
        padding: 30px;
        flex-direction: column;
        flex-wrap: wrap; } }
    .partners .partners-header h2 {
      font-size: 36px;
      text-align: center;
      line-height: 43px;
      margin: 0 15px; }
      @media (max-width: 1200px) {
        .partners .partners-header h2 {
          font-size: 28px;
          line-height: 36px; } }
      @media (max-width: 920px) {
        .partners .partners-header h2 {
          margin: 40px 0; } }
    .partners .partners-header .btn {
      width: 170px; }
  .partners .partners-card-wrapper {
    display: flex; }
    @media (max-width: 1200px) {
      .partners .partners-card-wrapper {
        flex-wrap: wrap; } }
    .partners .partners-card-wrapper .partners-card {
      width: 25%;
      height: 350px;
      background: #fff;
      box-shadow: #38287224 0 0 30px;
      padding: 75px 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 10px;
      align-items: center; }
      .partners .partners-card-wrapper .partners-card .ico-ticket {
        background: url("../../assets/images/ticket.svg") no-repeat bottom center;
        display: block;
        min-height: 75px;
        width: 75px; }
      .partners .partners-card-wrapper .partners-card .ico-umbrella {
        background: url("../../assets/images/umbrella.svg") no-repeat bottom center;
        display: block;
        min-height: 75px;
        width: 75px; }
      @media (max-width: 1200px) {
        .partners .partners-card-wrapper .partners-card {
          width: calc(50% - 60px);
          height: 250px;
          margin-bottom: 30px; } }
      @media (max-width: 650px) {
        .partners .partners-card-wrapper .partners-card {
          width: 100%;
          padding: 20px 15px 40px; } }
      .partners .partners-card-wrapper .partners-card h3 {
        font-size: 26px;
        line-height: 31px;
        text-align: center; }
        @media (max-width: 920px) {
          .partners .partners-card-wrapper .partners-card h3 {
            font-size: 23px; } }
      .partners .partners-card-wrapper .partners-card .btn {
        padding: 15px 30px; }
        @media (max-width: 1200px) {
          .partners .partners-card-wrapper .partners-card .btn {
            padding: 15px;
            width: 230px; } }

footer {
  background: #2A3581;
  padding: 75px 50px 75px 15px; }
  @media (max-width: 920px) {
    footer {
      padding: 35px 15px; } }
  footer .container {
    display: flex;
    color: rgba(255, 255, 255, 0.38);
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    @media (max-width: 920px) {
      footer .container {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    footer .container p {
      margin: 0;
      line-height: 20px;
      font-size: 14px; }
    footer .container p:first-of-type {
      width: 50%; }
    footer .container p:last-child {
      text-align: center; }
      @media (max-width: 920px) {
        footer .container p:last-child {
          margin: 20px 0;
          text-align: center;
          width: 100%; } }
  footer .logo-szczecin {
    background: url("../../assets/images/szczecin_logo.svg") no-repeat center;
    height: 57px;
    width: 200px; }

.cookiealert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  border-radius: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  color: #051441;
  background: rgba(255, 255, 255, 0.972);
  line-height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: #38287224 0 0 30px;
  text-align: left;
  padding-bottom: 40px; }
  .cookiealert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms; }
  .cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline; }
  .cookiealert a {
    color: #051441;
    font-weight: bold;
    transition: color 0.3s ease; }
    .cookiealert a:hover {
      color: #F6F7FC; }
  .cookiealert p {
    padding: 40px 15px 15px; }
  .cookiealert .wrapper {
    width: 100%; }
    .cookiealert .wrapper .btn {
      border: none;
      outline: none;
      width: 250px; }

@font-face {
  font-family: 'SofiaPro';
  font-weight: bold;
  src: local("SofiaPro"), url(../../assets/fonts/SofiaProBold.ttf) format("truetype"); }
@font-face {
  font-family: 'SofiaPro';
  font-weight: normal;
  src: local("SofiaPro"), url(../../assets/fonts/SofiaProRegular.ttf) format("truetype"); }
html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: SofiaPro;
  color: #051441; }

a {
  text-decoration: none; }

.text-center {
  text-align: center; }

.container {
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  padding: 0 15px; }

section {
  background: #F6F7FC;
  width: 100%; }

.wrapper {
  position: relative;
  height: 50px;
  width: 200px; }

/*# sourceMappingURL=style.css.map */
