.btn {
    padding: 15px 0; 
    border-radius: 38px;
    background: $btn;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    &.wave-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow:hidden;
        transition: all 1s;
        max-height: 50px;
        width: 220px;
        text-align: center;
        @media (max-width: 1310px) { 
            width: 200px;
        }
        &:before {
        content:"";
        position:absolute;
        width: 360px;
        height: 320px;
        border-radius: 130px;
        background-color: #6258D1;
        z-index: -2;
        top: 90px;
        left: 50%;
        transform:translate(-50%);
        animation: wave 5s infinite linear;
        transition: all 1s;
        }
        &:hover {
          &:before {
            top: 25px;
          }
        }
      }
}


 