nav {
    padding: 50px 140px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $lg) { 
        padding: 20px 0 50px 100px;
    }
    @media (max-width: $sm) { 
        flex-wrap: wrap;
        padding: 20px;
    }
    .logo {
        background: url('../../assets/images/logo.png') no-repeat;
        background-size: contain;
        width: 150px;
        height: 110px;
        display: block;
    }
    .christmas-banner {
        background: url('../../assets/images/baner2.jpg') no-repeat;
        background-size: contain;
        max-width: 100%;
        width: 1000px;
        height: 110px;
        display: block;
        margin: 0px 30px;
        @media (max-width: $sm) { 
            margin: 30px 0px;
        }
    }
}

header {
    padding: 50px 0px 50px 140px;
    display: flex;
    background: url('../../assets/images/wave.svg') no-repeat center;
    position: relative;
    width: 100%;
    background-position: initial;
    @media (max-width: $lg) { 
        padding: 20px 0 20px 100px;
    }
    @media (max-width: $md) { 
        flex-direction: column;
        flex-wrap: wrap;
    }
    @media (max-width: $sm) { 
        padding: 40px;
    }
    h1 {
        font-size: 46px;
        font-weight: bold;
        line-height: 56px;
        @media (max-width: $lg) { 
            font-size: 40px;
            line-height: 48px;
        }
        @media (max-width: $sm) { 
            font-size: 36px;
            line-height: 42px;
        }

    }
    .header-text {
        width: 50%;
        position: relative;
        z-index: 2;
        @media (max-width: $md) { 
            width: 80%;
        }
    }
    .header-img {
        background: url('../../assets/images/header.svg') no-repeat top center;
        background-size: contain;
        height: 500px;
        display: block;
        width: 60%;
        @media (max-width: $lg) { 
            background: url('../../assets/images/header.svg') no-repeat center center;
            background-size: contain;
        }
        @media (max-width: $md) { 
            width: 100%;
            background-size: contain;
            height: 400px;
        }
        @media (max-width: $sm) { 
            height: 200px;
        }
    }
    p {
        font-size: 22px;
        line-height: 30px;
        @media (max-width: $lg) { 
            font-size: 20px;
            line-height: 28px;
        }
    }
}

.intro {
    .container {
        padding: 50px;
        @media (max-width: $lg) { 
            padding: 20px;
        }
    }
    @media (max-width: $lg) { 
        padding: 30px 0 30px;
    }
    h2 {
        font-size: 36px;
        line-height: 43px;
        @media (max-width: $lg) { 
            font-size: 30px;
            line-height: 36px;
        }
    }
}

.partners {
    padding: 0 0 170px;
    @media (max-width:  $md) { 
        padding: 0 0 100px;
    }
    .partners-svg {
        background: url('../../assets/images/dj.svg') no-repeat center center;
        display: block;
        height: 170px;
        width: 260px;
        background-size: contain;
        @media (max-width: $md) { 
            background: url('../../assets/images/dj.svg') no-repeat 20px center;
        }
    }
    .partners-header {
        background: $white;
        box-shadow: $card-shadow;
        display: flex;
        border-radius: 10px;
        padding: 20px 60px;
        justify-content: space-around;
        align-items: center;
        margin: 0 10px 75px;
        flex-wrap: nowrap;
        @media (max-width: $md) { 
            padding: 30px;
            flex-direction: column;
            flex-wrap: wrap;
        }

        h2 {
            font-size: 36px;
            text-align: center;
            line-height: 43px;
            margin: 0 15px;
            @media (max-width: $lg) { 
                font-size: 28px;
                line-height: 36px;
            }
            @media (max-width: $md) { 
                margin: 40px 0;
            }
        }
        .btn {
            width: 170px;
        }
    }
    .partners-card-wrapper {
        display: flex;
        @media (max-width: $lg) { 
            flex-wrap: wrap;
        }
        .partners-card {
            .ico-ticket{
                background: url('../../assets/images/ticket.svg') no-repeat bottom center;
                display: block;
                min-height: 75px;
                width: 75px;
            }
            .ico-umbrella {
                background: url('../../assets/images/umbrella.svg') no-repeat bottom center;
                display: block;
                min-height: 75px;
                width: 75px;
            }
            width: 25%;
            height: 350px;
            background: $white;
            box-shadow: $card-shadow;
            padding: 75px 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 10px;
            align-items: center;
            @media (max-width: $lg) { 
                width: calc(50% - 60px);
                height: 250px;
                margin-bottom: 30px;
            }
            @media (max-width: 650px) { 
                width: 100%;
                padding: 20px 15px 40px;
            }
            h3 {
                font-size: 26px;
                line-height: 31px;
                text-align: center;
                @media (max-width: $md) { 
                    font-size: 23px;
                }
            }
            .btn {
                padding: 15px 30px;
                @media (max-width: $lg) { 
                    padding: 15px;
                    width: 230px;
                }
            }
        }
    }
}

footer {
    background: $footer;
    padding: 75px 50px 75px 15px;
    @media (max-width: $md) { 
        padding: 35px 15px;
    }
    .container {
        display: flex;
        color: $transparent-white;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media (max-width: $md) { 
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        p { 
            margin: 0;
            line-height: 20px;
            font-size: 14px;
        }
        p:first-of-type {
            width: 50%;
        }
        p:last-child {
            text-align: center;
            @media (max-width: $md) { 
                margin: 20px 0;
                text-align: center;
                width: 100%;
            }
        }
    }   
    .logo-szczecin {
        background: url('../../assets/images/szczecin_logo.svg') no-repeat center;
        height: 57px;
        width: 200px;
    }
}

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: $navy;
    background: rgba(255, 255, 255, 0.972);
    line-height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $card-shadow;
    text-align: left;
    padding-bottom: 40px;
    &.show {
        opacity: 1;
        transform: translateY(0%);
        transition-delay: 1000ms;
    }
    .acceptcookies {
        margin-left: 10px;
        vertical-align: baseline;
    }
    a {
        color: $navy;
        font-weight: bold;
        transition: color 0.3s ease;
        &:hover {
            color: $violet;
        }
    }
    p {
        padding: 40px 15px 15px;
    }
    .wrapper {
        width: 100%;
        .btn {
            border: none;
            outline: none;
            width: 250px;
        }
    }
}
