@import 'variables';
@import 'buttons';
@import 'animations';
@import 'sections';

@font-face {
    font-family: 'SofiaPro';
    font-weight: bold;
    src: local('SofiaPro'), url(../../assets/fonts/SofiaProBold.ttf) format('truetype');
  }

@font-face {
    font-family: 'SofiaPro';
    font-weight: normal;
    src: local('SofiaPro'), url(../../assets/fonts/SofiaProRegular.ttf) format('truetype');
}
  
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: SofiaPro;
    color: $navy;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1400px;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    background: $violet;
    width: 100%;
}

.wrapper {
    position: relative;
    height: 50px;
    width: 200px;
}