$navy: #051441;
$light-violet: #38287224;
$violet: #F6F7FC;
$btn: #2A3581;
$white: #fff;
$footer: #2A3581;
$transparent-white: rgba(255, 255, 255, 0.38);

$card-shadow: $light-violet 0 0 30px;

$lg: 1200px;
$md: 920px;
$sm: 600px;